h1{
    color: brown;
}
h2{
    color: rgb(236, 161, 161);
}
.block-1{
    display: flex;
}
.block1-2{
    border: solid 1px black;
    padding: 2px;
    margin: 5px;
    text-align: center;
}
.block1-2 h1{
    color: cornflowerblue;
}